<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="https://www.kuleuven.be/">
            <img class="logo" alt="logo" src="https://stijl.kuleuven.be/releases/latest/img/svg/logo_mykuleuven.svg"
                width="157" height="56" />
        </a>

        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Thema's
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://admin.kuleuven.be/mykuleuven/thema/hr-welzijn">HR
                                &amp; welzijn</a></li>
                        <li><a class="dropdown-item"
                                href="https://admin.kuleuven.be/mykuleuven/thema/onderwijs-studenten">Onderwijs &amp;
                                studenten</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://admin.kuleuven.be/mykuleuven/mykuleuven#kanalen">Mijn kanalen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://admin.kuleuven.be/mykuleuven/mykuleuven#tools">Mijn tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://admin.kuleuven.be/mykuleuven/mynews">Mijn nieuws</a>
                </li>
            </ul>
            <!-- <ul>
                <li class="dropdown-menu">
                    <a href="https://admin.kuleuven.be/mykuleuven/mykuleuven#themas" id="thema_menu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thema's
                        <i class="material-icons" aria-hidden="true">keyboard_arrow_down</i></a>
                    <ul class="dropdown-menu" aria-labelledby="thema_menu">
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/hr-welzijn">HR &amp; welzijn</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/onderwijs-studenten">Onderwijs &amp;
                                studenten</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/onderzoek">Onderzoek</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/internationaal">Internationaal</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/ict-communicatie-evenementen">ICT,
                                communicatie, evenementen</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/mobiliteit-duurzaamheid-veiligheid">Mobiliteit,
                                duurzaamheid, veiligheid</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/organisatie-beleidsinfo-reglementen">Organisatie,
                                beleidsinfo, reglementen</a>
                        </li>
                        <li>
                            <a href="https://admin.kuleuven.be/mykuleuven/thema/aan-verkopen-financien-logistiek">Aan-
                                en verkopen, financiën, logistiek</a>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary"><i class="material-icons">search</i></button>
            </form> -->
        </div>
    </div>
</nav>