<div class="navbar bg-light localheader">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/buttons/">buttons</a></li>
            <li class="list-inline-item"><a href="/cards2/">cards</a></li>
            <li class="list-inline-item"><a href="/campuslabels">campuslabels</a></li>
            <li class="list-inline-item"><a href="/content">content</a></li>
            <li class="list-inline-item"><a href="/components">components</a></li>
        </ul>
    </div>
</div>