.card {
  h2 {
    font-family: $font-family-serif;
  }
}

.card-img {
  & .card-text {
    // padding-top: 3em;
    @extend .text-white;
  }
}
.card-primary {
  background-color: $primary;
}

.card-secondary {
  background-color: $secondary;
}

.card-tertiary {
  background-color: $tertiary;
}
