@mixin inline-variant($spacing) {
  margin-bottom: -$spacing;
  margin-left: -$spacing;
  margin-right: -$spacing;

  .inline-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: $spacing;
    padding-right: $spacing;
    padding-left: $spacing;
  }
}

.inline {
  @include inline-variant(10px);

  &:last-child {
    margin-bottom: 0;
  }

  &-share {
    @include inline-variant(calc(5px / 4));
    @include media-breakpoint-up(sm) {
      @include inline-variant(calc(5px / 2));
    }

    a {
      @include link-variant($blue-75);
    }

    .inline-item:first-child {
      margin-right: 2px;
      width: 100%;
      //   @include media-breakpoint-up(xs) {
      margin-right: 2px;
      width: auto;
      //   }
    }
  }
}
