.campus-labels {
  @extend .inline;
  margin: 0 0 10px;
  padding: 0;

  li {
    @extend .badge;
    @extend .inline-item;
    font-weight: normal;
    background: $tertiary;
    color: $white;
    white-space: normal;
    padding: 0.7em 0.9em;
    letter-spacing: 0.08em;
    border-radius: 6px;

    &::before {
      // place
      @include icon-link("\e55f");
      vertical-align: top;
      margin-right: 5px;
      font-weight: normal;
    }
  }
}
