//statikul
%navbar {
  padding: 20px 0;
  position: relative;
  // @extend .fw-normal;

  // ul {
  //   @include listreset;
  // }

  %nav {
    &--tabs {
      border-bottom: 0;

      a {
        @include link-variant($gray-100, $black);
      }
      @include media-breakpoint-up(lg) {
        display: block;
        height: auto !important;
      }
      @include media-breakpoint-down(lg) {
        width: 100%;
        float: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: $white;

        &.in {
          display: block;
        }

        li {
          display: block;
          float: none;
        }

        a {
          padding: 10px 20px;
          background: none;

          &.active,
          &:hover {
            background: none;
            color: $primary;
          }
          @include media-breakpoint-up(sm) {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

%navbar-2 {
  @include clearfix();
  padding: 0;
  position: relative;
  background: $gray-200;
  @include media-breakpoint-up(md) {
    background: $white;
    padding: 20px 0;
    position: relative;
  }
}

%navbar--global {
  background: $secondary;
  color: $white;
  font-size: map-get($font-sizes, sml);
  border-bottom: 34px solid $white;

  & + &,
  %navbar--collapse {
    border-top: 2px solid rgba($secondary, 0.1);
    border-bottom: 0;
    padding: 30px 0 0;
  }

  a:not(.btn) {
    @include link-variant($white);
  }

  %list--unordered {
    li {
      &:before {
        color: $white;
      }

      & + li {
        margin-top: 5px;
      }
    }
  }
}

%navbar--local {
  // @include transitions((border));
  padding-top: 10px;
  padding-bottom: 0;
  background: $white;
  z-index: 20;
  font-size: map-get($font-sizes, sm);

  .inline-share {
    a {
      @include link-variant($primary, $tertiary);
    }
  }
}

%navbar--footer {
  background: $white;
  font-size: $font-size-base;

  %nav--inline {
    margin-top: 7px;
  }

  .inline-share {
    margin-top: 4px;
  }
}

%navbar__nav {
  // @include listreset;
  float: left;

  > li {
    float: left;

    > a {
      @extend .fw-bold;
      display: inline-block;
      padding: 10px;
      color: $gray-200;
      text-decoration: none;

      &:hover {
        color: $white;
        background: $gray-800;
      }

      .icon:first-child {
        margin-right: 5px;
      }

      .icon:last-child {
        margin-right: 0;
      }
    }
  }
}

%navbar__form {
  @include media-breakpoint-up(lg) {
    width: 350px;
  }
}

%navbar__title {
  @extend .fw-bold;
  letter-spacing: 0.05em;
  margin-bottom: 10px;

  %navbar--local & {
    color: $tertiary;
  }
}

%ext-navbar-line {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 2px;
  background: $body-color;
  border-radius: 1px;
  transition: all 200ms;
}

%navbar__toggle {
  @include link-variant($body-color);
  font-size: map-get($font-sizes, sml);
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  // text-transform: uppercase;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  .lines {
    @extend %ext-navbar-line;
    top: 20px;
    right: 0;

    &:before {
      @extend %ext-navbar-line;
      content: "";
      top: -4px;
      transform-origin: 50% 50%;
    }

    &:after {
      @extend %ext-navbar-line;
      content: "";
      top: 4px;
      transform-origin: 50% 50%;
    }
  }

  &%is-open {
    .lines {
      background: transparent;

      &:before {
        top: 0px;
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        top: 0px;
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  &--btn {
    font-size: map-get($font-sizes, med);
    padding: 32px 26px 8px 20px;
    @extend .fw-bold;

    .lines {
      right: 16px;
      top: 18px;
      height: 2px;

      &:before,
      &:after {
        height: 2px;
      }
    }
  }

  // &--dark {
  //   // @include link-variant($white);
  //   background: rgba($tertiary, 0.3);

  //   .lines {
  //     background: $white;

  //     &:before,
  //     &:after {
  //       background: $white;
  //     }
  //   }
  // }
}

//kuleuven
.nav-link {
  text-decoration: none;
}

.global-header {
  .container:first-child {
    height: 40px;
  }
}

.global-header,
.local-header {
  @include clearfix;

  .btn-toggle {
    @extend %navbar__toggle;
    float: left;
  }

  &.menu-open {
    .btn-toggle {
      @extend %is-open;
    }

    .navbar-collapse,
    .nav-tabs {
      display: block;
    }
  }
}

.flyout,
.global-header {
  @extend %navbar--global;

  .nav {
    a {
      color: #fff;

      &:hover,
      &:focus,
      &:visited,
      &:active {
        color: darken(#fff, 5%);
      }
    }
  }

  .logo {
    @extend %logo--floating;
  }

  .controls {
    @extend .float-end;

    a {
      @include link-variant($white);
    }

    a.btn-toggle {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    a.btn-home {
      text-decoration: underline;
      @extend .fw-normal;
      padding: 0.3em 0 0.3em 1em;
    }
    @include media-breakpoint-down(md) {
      .btn-ext {
        display: none;
      }
    }
  }

  .form-search {
    @extend %navbar__form;
    // @extend %form--inline;
    // @extend %form--search;
    // @extend %form--dark;
    @extend .float-start;

    input {
      // @extend %form__text;
      border-radius: 3px 0 0 3px;
    }

    button {
      // @extend %btn;
      border-radius: 0 3px 3px 0;
    }
  }

  .btn-toggle {
    @extend %navbar__toggle--btn;
    // @extend %navbar__toggle--dark;
  }

  .navbar-collapse {
    @include clearfix;
    @extend %navbar--collapse;
    padding-top: 0;
    border-top: 0;

    &.collapsing {
      -webkit-transition: none;
      transition: none;
      overflow: visible;
    }
  }

  .dropdown-menu {
    li {
      a {
        color: $body-color !important;
        // @include link-variant($body-color);
        text-decoration: underline;

        &:hover {
          background: $tertiary;
        }
      }
    }
  }

  &.menu-open {
    @include media-breakpoint-up(lg) {
      border-bottom: none;
    }

    .navbar-collapse {
      padding-top: 30px;
    }
  }

  &:not(.menu-open) {
    // Since there's momentarily no way to disable the transition on Bootstrap's Collapse plugin,
    // we rely on the absence of the .menu-open class on .global-header to hide the menu immediately.
    .navbar-collapse {
      display: none;
    }
  }
}

.nav-main {
  @extend %navbar__nav;
  // @extend %nav--main;
}

.nav-service {
  @extend %navbar__nav;
  // @extend %nav--service;
  @extend %nav--inline;
}

.global-header:not(.menu-open) + .local-header {
  h2 {
    @extend .my-0;
  }
}

%ul-tabs {
  > li {
    @extend .nav-item;

    a.home {
      &:before {
        vertical-align: top;

        a {
          float: right;
        }
      }
    }

    + li {
      margin-left: (10px + 4);
    }
  }
}

.local-header {
  @extend %navbar;
  @extend %navbar--local;

  h2 {
    @extend %navbar__title;
  }

  .navbar {
    padding: 0;
  }

  .navbar-nav {
    @extend %ul-tabs;
    @extend %nav--tabs;
    margin-left: 0;

    li:first-of-type {
      margin-left: 0 !important;
    }

    // Overrule Bootstrap's .nav-link theme color
    .nav-item {
      &,
      &.active {
        .nav-link {
          &,
          &:visited,
          &:hover {
            // From statikul/components/navbar %navbar %nav--tabs a
            @include link-variant($gray-100, $black);
          }
        }
      }
    }
  }

  .form-search,
  .form-inline {
    @extend %navbar__form;
    // @extend %form--inline;
    // @extend %form--search;
    // @extend %form--dark;
    border-bottom: 3px solid $gray-200;

    input {
      // @extend %form__text;
      background: $white;
      padding-top: 10px;
      padding-bottom: 10px;
      // color: $body-color;
      border-radius: 3px 0 0 3px;

      &:focus {
        // color: $body-color;
      }

      // &::-webkit-input-placeholder {
      //   color: $input-color-placeholder;
      // }

      // &::-moz-placeholder {
      //   color: $input-color-placeholder;
      // }
    }

    button {
      // @extend %btn;
      border-radius: 0 3px 3px 0;
    }
  }

  &.menu-open {
    .nav-tabs {
      height: auto !important;
    }
  }

  .nav-tabs {
    @extend %nav--tabs;

    > ul {
      @extend %ul-tabs;
    }
  }

  .nav-more {
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      li {
        a {
          &:hover,
          &:focus,
          &:active {
            color: $gray-800 !important;
            background: $white;
          }
        }
      }
    }
  }
}

.nav-tabs {
  li.nav-item {
    margin: 0 1rem -1px 1rem;

    a.nav-link {
      font-size: 0.875rem;
      @extend .fw-bold;
      display: inline-block;
    }
  }
}

.footer-navbar {
  @extend %navbar;
  border-bottom: none;

  h2,
  h4 {
    @extend %navbar__title;
    // font-family: $font-sans-serif;
  }

  h2 {
    margin-bottom: 1em;
    // @extend fw-normal;
  }

  ul {
    @extend %list--unordered;
    margin-bottom: 20px;

    > li:before {
      color: $white;
    }

    li {
      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}

.global-footer {
  border-top: 1px solid $tertiary;

  .btn {
    font-size: inherit;
  }

  .footer-navbar {
    @extend %navbar--global;
    border-bottom-width: 0;
    padding-top: 20px;
    padding-bottom: 0;

    .row {
      padding: 0;
      padding-bottom: 20px;

      &:first-child {
        padding-top: 20px;
      }
    }

    nav {
      @extend .col-12;
      @extend .col-sm-6;
      @extend .col-md-3;

      ul + h4 {
        margin-top: $line-height-base - 20px;
      }
    }
  }

  %bottom-footer {
    @extend %navbar;
    @extend %navbar--footer;

    // Needed because child elements .legal and .share float
    min-height: 78px;

    .legal {
      @extend .float-lg-end;
      @include media-breakpoint-down(md) {
        @include clearfix();
      }

      .logo {
        @extend %logo--xsm;
        @extend .float-start;
        width: auto;
        height: auto;
      }

      ul {
        @extend %nav--inline;
        @extend .list-inline;
        @extend .float-start;
        @include media-breakpoint-down(md) {
          display: flex;
          flex-direction: column;
          width: 100%;

          li + li {
            border: 0;
            margin: 0;
            padding: 0;
          }
        }
        @include media-breakpoint-up(lg) {
          margin-left: 30px;
        }
      }
    }

    .share {
      @extend .float-lg-end;
      @extend .inline-share;

      span,
      a {
        @extend .inline-item;
      }

      svg {
        height: 30px;
      }
    }
  }

  .bottom-footer {
    @extend %bottom-footer;
  }

  .bottom-footer-kuleuven {
    @extend %bottom-footer;
    background-color: $white;
    color: $tertiary;
  }
}

.local-footer {
  .footer-info {
    @extend %navbar--local;
    padding: 1em 0;
    color: $tertiary;

    .lastmodified {
      margin-bottom: 0;
    }

    // login
    .nav-user {
      @extend .nav-user;

      > ul {
        padding-left: 0;
      }
    }

    // logout
    .dropdown-menu li a {
      color: $tertiary;

      &:hover,
      &:focus,
      &:active {
        color: $white;
      }
    }
  }

  .footer-navbar {
    @extend %navbar--local;
    padding: 30px 0;
    background: $tertiary;
    color: $white;

    h4 {
      width: 100%;
    }

    h2,
    h4 {
      color: $white;
    }

    a {
      @include link-variant($white, $gray-200);
    }
  }
}

.local-header {
  .nav-tabs {
    padding: 0 10px;
    @include media-breakpoint-down(md) {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      border-top: 1px solid rgba(0, 0, 0, 0.117647);

      .dropdown-menu {
        margin-left: 20px;
      }
    }
  }
}
